html{
    height: -webkit-fill-available;
}
body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background: rgb(1, 0, 28);
    height: 100vh;
    margin: 0;
    height: -webkit-fill-available;
    width: 100vw;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; 
    width: 100%;
    max-width: 1200px; 
    margin-left: 30px;
    margin-right: 0;
    margin-bottom: 20px;
    /* position: relative; */
}

.logoLeft, .logoRight {
    height: 50px;
    width: auto;
}
.leftOne{
    padding-left: 0px;
    padding-right: 100px;
    padding-top: 0px;
    /* padding-bottom: 0px; */
}

.rightOne{
    padding-left: 0%;
    padding-right: 50px;
}

.logoLeft {
    margin-right: auto; 
}

.logoRight {
    margin-left: auto; 
    padding-right: 120px;
    padding-left: 40px;
}

.Leaderboard {
    text-align: left; /* Align content to the left */
    width: 100%; /* Ensure it takes the full width */
    max-width: 1200px; /* Limit the maximum width */
    margin: 0 auto; /* Center horizontally within the container */
}
.desc{
    color: #ffffff;
    max-width: 500px;
    text-align: justify;
    position: absolute;
    padding-top: 120px;
}
.Leaderboard{
    display: flex;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Leaderboard .heading {
    max-width: auto;
    margin: 0;
    padding-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 80px;
    text-align: left; /* Align heading text to the left */
}


.table-container {
    display: flex;
    width: 100%;
    max-width:auto;
    padding: 30px 20px 0px 200px;
    position: relative;
}

.content-table {
    border-collapse:collapse;
    width: fit-content;
    font-size: 0.9em;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 140, 255);
}

.content-table thead tr,.content-table-ev thead tr {
    background-color: rgb(0, 140, 255);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th, .content-table td,.content-table-ev th,.content-table-ev td {
    padding: 12px 15px;
}

.content-table tbody tr, .content-table-ev tbody tr{
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even),.content-table-ev tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:nth-of-type(odd),.content-table-ev tbody tr:nth-of-type(odd)  {
    background-color: #ffffff;
}

.content-table tbody tr:last-of-type, .content-table-ev tbody tr:last-of-type{
    border-bottom: 2px solid rgb(0, 140, 255);
}

.content-table tbody tr.active-row{
    font-weight: bold;
    color: rgb(0, 140, 255);
}

.content-table-ev tbody tr.active-row{
    font-weight: bold;
    color: rgb(0, 140, 255);
}
header {
    background: #333;
    color: #fff;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
    padding-left: 80px;
}

.navbar-container {
    display: flex;
    align-items: center;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin: 0 10px;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
}

.navbar-menu a:hover {
    background: rgb(0, 140, 255);
    border-radius: 10px 10px 10px 10px;
}
.LSC25-LOGO{
    padding-top: 40px;
    width: 100px;
    height: auto;
}
.lsc{
    display: flex;
    margin-left: 40px;
    margin-top: 40px;
}
.contact{
    padding-left: 400px;
    padding-top: 30px;
}
.lscimg{
    padding-bottom: 50px;
    padding-top: 0px;
    margin-top: 0px;
}

.comp1{
    display: block;
}
.mail1,.mail2,.mail3{
    padding-top: 10px;
    color: rgb(245, 191, 12);
}
.navbar-toggle {
    display: none;
    background: #333;
    border: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    padding: 10px;
}

.drawer {
    position: fixed;
    top: 0;
    right: -250px; /* Align drawer to the right */
    width: 250px;
    height: 100%;
    background: rgb(1, 0, 28);
    color: #fff;
    transition: right 0.3s;
    overflow-y: auto;
    z-index: 1000;
}

.drawer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.drawer ul li {
    padding: 15px;
    padding-left: 30px;
}

.drawer ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.drawer ul li a:hover {
    padding: 2px 2px 2px 20px;
    background: rgb(0, 140, 255);
    border-radius: 20px;
}
.heading2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 40px;
}
a{
    color: rgb(255, 218, 8);
}
.drawer-close {
    position: absolute;
    top: 10px;
    left: 10px; /* Close button inside drawer */
    background: #ffffff;
    border: none;
    color: #07002f;
    font-size: 1.5em;
    cursor: pointer;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 10px;
}
.lscimg{
    width:300px;
    height:auto;
}

.table-container-ev{
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px 20px 20px;
}
.ovations{
    width: 300px;
    height: auto;
}
.content-phone{
    display:none;
}

.content-table-ev{
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9em;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 140, 255);
}

.heading3{
    max-width: auto;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
}
.heading4{
    max-width: auto;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 40px;
}
@media (max-width: 450px) and (max-width: 390px){
    .container{
        margin-top: 20px;
        display: flex;
        justify-content: space-between; 
        width: 100%;
        max-width: 450px; 
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .logoLeft, .logoRight {
        height: 28px;
        width: auto;
    }
    .logoLeft {
        margin-right: auto; 
    }
    
    .logoRight {
        margin-left: auto; 
        padding-right: 0px;
        padding-left: 40px;
    }
    .navbar-menu {
        display: none; /* Hide horizontal menu on mobile */
    }

    .navbar-toggle {
            display: flex;
            margin-left: 0px;
            border-radius: 5px;
            padding: 5px 11px 5px 11px;
            font-size: 25px;
            color: rgb(242, 242, 242);
            background-color: rgb(1, 0, 28);
            border-color: white;
            border-width: 5px;
            margin-top: 0px;
    }

    .drawer {
        right: -250px; /* Hide drawer */
    }
    .Leaderboard {
        text-align: left; /* Align content to the left */
        width: 100%; /* Ensure it takes the full width */
        max-width: 450px; /* Limit the maximum width */
        margin: 0 auto; /* Center horizontally within the container */
    }
    .desc{
        color: #ffffff;
        max-width: 420px;
        text-align: justify;
        position: relative;
        padding-top: 0px;
        padding-left: 30px;
    }
    .Leaderboard{
        display: block;
        padding-left: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .Leaderboard .heading {
        max-width: auto;
        margin: 0;
        padding-bottom: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        font-size: 50px;
        text-align: center; /* Align heading text to the left */
    }
    .table-container {
        display: block;
        width: 100%;
        max-width:420px;
        padding: 30px 0px 0px 30px;
        position: relative;
    }
    
    .content-table {
        border-collapse:collapse;
        width: fit-content;
        font-size: 0.9em;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgb(0, 140, 255);
    }

    .LSC25-LOGO{
        padding-top: 40px;
        width: 100px;
        height: auto;
        display: flex;
    }
    .lsc{
        display: flex;
        margin-left: 40px;
        margin-top: 40px;
    }
    .contact{
        display: none;
        /* align-content: center;
        
        padding-top: 30px;*/
    } 
    .lscimg{
        padding-bottom: 50px;
        padding-top: 0px;
        margin-top: 0px;
    }
    .content-phone{
        display: block;
    }
    .heading2-phone{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        font-size: 40px;
        padding-left: 155px;
    }
    .comp1-phone{
        padding-left: 85px;
        padding-bottom: 20px;
    }
    .heading3{
        max-width: auto;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        font-size: 50px;
        text-align: center;
    }
    .lscimg{
        width:300px;
        height:auto;
    }
    .heading4{
        max-width: 450px;
        margin: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        font-size: 20px;
        text-align: center;
    }
    .comp1-phone .mail3-phone{
        padding-left: 60px;
    }
    .comp1-phone .mail1-phone{
        padding-left: 8px;
    }
}

@media (max-width: 360px) {
    .container{
        margin-top: 20px;
        display: flex;
        justify-content: space-between; 
        width: 100%;
        max-width: 360px; 
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .logoLeft, .logoRight {
        height: 25px;
        width: auto;
    }
    .logoLeft {
        margin-right: auto; 
    }
    
    .logoRight {
        margin-left: auto; 
        padding-right: 0px;
        padding-left: 10px;
    }
    .navbar-menu {
        display: none; /* Hide horizontal menu on mobile */
    }

    .navbar-toggle {
        display: flex;
        margin-left: 0px;
        border-radius: 5px;
        padding: 5px 11px 5px 11px;
        font-size: 25px;
        color: rgb(242, 242, 242);
        background-color: rgb(1, 0, 28);
        border-color: white;
        border-width: 5px;
        margin-top: 0px;
    }

    .drawer {
        right: -250px; /* Hide drawer */
    }
    .Leaderboard {
        text-align: left; /* Align content to the left */
        width: 100%; /* Ensure it takes the full width */
        max-width: 360px; /* Limit the maximum width */
        margin: 0 auto; /* Center horizontally within the container */
    }
    .desc{
        color: #ffffff;
        max-width: 350px;
        text-align: justify;
        position: relative;
        padding-top: 0px;
        padding-left: 15px;
    }
    .Leaderboard{
        display: block;
        padding-left: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .Leaderboard .heading {
        max-width: auto;
        margin: 0;
        padding-bottom: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        font-size: 50px;
        text-align: center; /* Align heading text to the left */
    }
    .table-container {
        display: block;
        width: 100%;    
        max-width:420px;
        padding: 30px 10px 0px 12px;
        position: relative;
    }
    
    .content-table {
        border-collapse:collapse;
        width: fit-content;
        font-size: 0.9em;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgb(0, 140, 255);
    }

    .LSC25-LOGO{
        padding-top: 30px;
        width: 80px;
        height: auto;
        display: flex;
    }
    .lsc{
        display: flex;
        margin-left: 40px;
        margin-top: 40px;
    }

    .lscimg{
        width:220px;
        height:auto;
    }
    .contact{
        display: none;
        /* align-content: center;
        padding-left: 0px;
        padding-top: 30px;*/
    } 
    .lscimg{
        padding-bottom: 50px;
        padding-top: 0px;
        margin-top: 0px;
    }
    .content-phone{
        display: block;
    }
    .heading2-phone{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        font-size: 40px;
        padding-left: 125px;
    }
    .comp1-phone{
        padding-left: 48px;
        padding-bottom: 20px;
    }
    .heading3{
        max-width: auto;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        font-size: 50px;
        text-align: center;
    }
    .heading4{
        max-width: auto;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        font-size: 20px;
        text-align: center;
    }
    .navbar {
        display: flex;
        justify-content: flex-end; /* Align items to the right */
        align-items: center;
        padding-left: 50px;
    }
    .comp1-phone .mail3-phone{
        padding-left: 60px;
    }
    .comp1-phone .mail1-phone{
        padding-left: 8px;
    }
    .heading2-phone{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        font-size: 40px;
        padding-left: 112px;
    }
}

